<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SureRepair</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Sure Repair center  @{{current_user.username}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('technician',usk=current_user.user_key)}}">Technician</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">logout</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        	{% with messages=get_flashed_messages()%}
        {%if messages %}
        {%for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <h3>{{message}}</h3>
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                   </button>
           </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
<!--                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>-->
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Get your device repaired</h1>
                    <p><h3>click on the button below to book repair</h3></p>
                    <a class="btn btn-primary" href="{{url_for('book_repair')}}">Book Repair</a>
                </div>
            </div>
            <!-- Call to Action-->
<!--            <div class="card text-white bg-secondary my-2 py-4 text-center">-->
<!--                <div class="card-header">My devices</div>-->
<!--                <p>click open to view the status of your device</p>-->
<!--                <div class="card-body"><p class="text-white m-0">-->
<!--                </p></div>-->

<!--            </div>-->
              <table class="table">
                         <tr>

                             <th>Name</th>
                             <th>Model</th>
                             <!-- <th>status</th> -->
                             <th>action</th>
                         </tr>
                    {%for device in devices %}
                         <tr>
                             <td>{{device.name}}</td>
                             <td>{{device.model}}</td>
                             <!-- <td>{{device.device_key}}</td> -->

                             <td>
                               <a href="{{url_for('view_device',dvk=device.device_key)}}" class="btn btn-warning sm">open</a>
                             </td>
                         </tr>
                    {%endfor%}

                </table>
            <hr>
            <p><h3><i>are you a technician and would like to work with us?</i></h3>
             <a href="" class="btn btn-warning">request rights</a>
            </p>

            <!-- Content Row-->

<!--            <div class="row gx-4 gx-lg-5">-->
<!--                <div class="col-md-4 mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-body">-->
<!--                            <h2 class="card-title">Tv Repair</h2>-->
<!--                                     <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static',filename='tv.jpg')}}" alt="..." /></div>-->
<!--                            <p class="card-text">We repair all tv models</p>-->
<!--                        </div>-->
<!--                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-4 mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-body">-->
<!--                            <h2 class="card-title">Woofer & sub woofers</h2>-->
<!--                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static',filename='radio.jpg')}}" alt="..." /></div>-->
<!--                            <p class="card-text">All related problems including,<strong>no power</strong>,<strong>sound problem</strong>,<strong>and others</strong></p>-->
<!--                        </div>-->
<!--                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        <div class="card-body">-->
<!--                            <h2 class="card-title">mobile phones</h2>-->
<!--                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static',filename='phone.jpg')}}" alt="..." /></div>-->
<!--                            <p class="card-text">All related phone problems including,<strong>no power</strong>,<strong>sound problem</strong>,<strong>and others</strong></p>-->
<!--                        </div>-->
<!--                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Sure Repair 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
